table {
  table-layout: auto;
  height: 100%;
  width: 100%;
  border: 1;
  border-collapse: collapse;
}

.base1 p {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.base2 p {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.menu {
  background-color: gray;
}

.base {
  display: flex;
  flex-direction: row;
}

.base1 {
  background-color: silver;
}

.base2 {
  background-color: whitesmoke;
}

.foots {
  background-color: gray;
}


@media screen and (max-width: 568px) {
.base {
  flex-direction: column;
}

.base1 {
  height: 15%;
}
}

@media screen and (min-width: 569px) and (max-width: 1400px) {

.base {
  flex-direction: row;
}
  
.base1 {
  width: 15%;
}
}